# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/
*.ipr
*.iml
*.iws

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.DS_Store

/vendor/
/node_modules/*
!/node_modules/app/

background.build.js
build.js
css/**/*.css

npm-debug.log
