<!DOCTYPE html>
<html ng-app="tangHelper.settings" ng-csp>
<head lang="zh">
    <meta charset="UTF-8">
    <title>TangHelper - Configuring</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/angular/angular-csp.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="settings.build.js"></script>
</head>
<body>

<div class="container body" ng-controller="settingsCtrl as vm">

    <div class="page-header">
        <h1>TangHelper - 设置</h1>
    </div>

    <form class="form-horizontal" ng-submit="vm.goToExecutor()">

        <div class="panel panel-default">
            <div class="panel-heading">矿机类型</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="type" value="mock" ng-model="vm.config.type">
                                mock
                            </label>
                        </div>

                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="type" value="asic" ng-model="vm.config.type">
                                烤猫
                            </label>
                        </div>

                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="type" value="ant" ng-model="vm.config.type">
                                蚂蚁
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">挖矿配置</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="pool1.url" class="col-sm-2 control-label">矿池1:地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pool1.url" placeholder="请输入矿池地址..."
                               ng-model="vm.config.pool1URL">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pool1.port" class="col-sm-2 control-label">矿池1:端口</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="pool1.port" placeholder="请输入矿池端口号..."
                                ng-model="vm.config.pool1Port">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pool2.url" class="col-sm-2 control-label">矿池2:地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pool2.url" placeholder="请输入矿池地址..."
                               ng-model="vm.config.pool2URL">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pool2.port" class="col-sm-2 control-label">矿池2:端口</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="pool2.port" placeholder="请输入矿池端口号..."
                               ng-model="vm.config.pool2Port">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="请输入矿池注册的用户名..."
                                ng-model="vm.config.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="prefix" class="col-sm-2 control-label">矿机前缀</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="prefix" placeholder="请输入矿机前缀，可留空..."
                                ng-model="vm.config.prefix">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>首选矿池连接地址为：<code>{{ vm.config.pool1URL }}:{{ vm.config.pool1Port }}</code>。</p>
                        <p>矿机命名为：<code>{{ vm.config.username }}.{{ vm.config.prefix ? vm.config.prefix + '.' : '' }}XXXXXX</code>，其中 XXX 为 IP 地址后两段。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">网络配置</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="mask" class="col-sm-2 control-label">子网掩码 Mask</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mask" placeholder="请输入子网掩码..." ng-model="vm.config.mask">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gateway" class="col-sm-2 control-label">网关 Gateway</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="gateway" placeholder="请输入网关地址..." ng-model="vm.config.gateway">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dns1" class="col-sm-2 control-label">主DNS</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="dns1" placeholder="请输入DNS..." ng-model="vm.config.dns1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dns2" class="col-sm-2 control-label">备用DNS</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="dns2" placeholder="请输入DNS，可留空..." ng-model="vm.config.dns2">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ip-start" class="col-sm-2 control-label">起始IP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ip-start" placeholder="请输入起始IP..." ng-model="vm.config.ipStart">
                        <!--<span class="help-block">最近一次分配的 IP 是：192.168.10.1，仅供参考。</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="ip-end" class="col-sm-2 control-label">终止IP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ip-end" placeholder="请输入终止IP..." ng-model="vm.config.ipEnd">
                    </div>
                </div>
                <div class="form-group">
                    <label for="port" class="col-sm-2 control-label">Web 端口</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="port" placeholder="请输入 Web 访问端口..." ng-model="vm.config.webPort">
                    </div>
                </div>
                <div class="form-group">
                    <label for="miner-ip" class="col-sm-2 control-label">矿机默认IP和端口</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="miner-ip" placeholder="请输入矿机默认IP:PORT..." ng-model="vm.config.minerDefaultAddress">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">当前IP</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-repeat="ip in vm.ips">{{ ip.name }}: {{ ip.address }}</p>
                        <span class="help-block">请确认当前 IP 与要操作的矿机处于同一网段。这里显示的本机 IP 仅供参考。</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">开始</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>